.lnm-editor-layout {
  display: flex;
  margin-top: 20px;
}

.lnm-sidebar {
  width: 25%;
  background: #fff;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.lnm-main {
  width: 75%;
  padding: 20px;
}
#lnm-chapter-title{
    width:100%;
    font-size:18px;
    margin-bottom:10px;
}
#lnm-save-chapter {
  margin: 10px 0;
}
